
@(product: Product)(implicit flash: Flash, lang: Lang)

@main(Messages("products.details", product.name)) {

  <h2><!--Barcode tag-->
    @tags.barcode(product.ean)
    @Messages("products.details", product.name)
  </h2>

  <dl class="dl-horizontal"> <!--Outputs product details-->
    <dt>@Messages("ean"):</dt>
    <dd>@product.ean</dd>
    <dt>@Messages("name"):</dt>
    <dd>@product.name</dd>
    <dt>@Messages("description"):</dt>
    <dd>@product.description</dd>
    <dt>Saldo:</dt>
    <dd>@product.saldo</dd>
  </dl>
}